.header {
  background: #1c2431 url(/images/bg-curvy-mobile.svg) -15vh 80vw no-repeat;
  padding: 2rem;
  position: relative;
  background-size: 43rem 15rem; }
  .header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem; }

.logo {
  width: 7rem; }

.header__bottom {
  text-align: center;
  color: white;
  line-height: 1.5; }
  .header__bottom-heading {
    margin: 1rem 0;
    font-family: "Raleway", sans-serif;
    font-size: 2rem; }
  .header__bottom-description {
    font-family: "Raleway", sans-serif;
    opacity: 90%; }

.content {
  background-color: #181f2a;
  padding-top: 20rem;
  margin-top: -14rem; }

.icon {
  width: 1rem;
  height: 1rem;
  fill: blue; }

.nav-container {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 1rem; }

.nav-link, .cta {
  text-decoration: none; }
  .nav-link:not(:last-child), .cta:not(:last-child) {
    margin-right: 1rem; }
  .nav-link:link, .cta:link {
    color: inherit; }
  .nav-link:visited, .cta:visited {
    color: white; }

.nav-items {
  display: inline-block;
  opacity: 75%; }

.illustration {
  width: 23rem; }

.promise__illustration {
  width: 25rem; }

.heading {
  font-size: 2rem;
  font-weight: 700; }

.description {
  font-weight: 400;
  font-size: 1.15rem;
  margin-bottom: 3rem; }

.cta {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  padding: 1rem 8rem;
  border-radius: 3rem;
  background: linear-gradient(to right, #65e2d9, #339ecc);
  border: none; }
