body {
  position: relative; }

.header {
  background: #1c2431 url(/images/bg-curvy-mobile.svg) -51vw 30vh no-repeat;
  padding: 2rem;
  position: relative;
  background-size: 220% 60%; }
  .header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem; }

.logo {
  width: 7rem; }

.header__bottom {
  text-align: center;
  color: white;
  line-height: 1.5; }
  .header__bottom-heading {
    margin: 1rem 0;
    font-family: "Raleway", sans-serif;
    font-size: 2rem; }
  .header__bottom-description {
    font-family: "Open Sans", sans-serif;
    opacity: 90%; }

.content {
  position: relative;
  background-color: #181f2a;
  padding-top: 20rem;
  margin-top: -14rem;
  z-index: 2; }

.services-grid {
  padding: 0 3rem;
  text-align: center;
  margin-bottom: 8rem; }

.promise {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-self: center; }

.testimonies-grid {
  margin: 5rem 2.5rem 0;
  padding-bottom: 25rem; }

.newsletters {
  background-color: #1c2431;
  text-align: center;
  padding: 3rem 1rem;
  margin: 0 1.5rem;
  position: absolute;
  bottom: -15.5rem; }

.footer {
  background-color: #0b1523;
  border: none; }

.icon {
  width: 1rem;
  height: 1rem;
  fill: blue; }

.nav-container {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem; }

.nav-link, .cta {
  text-decoration: none; }
  .nav-link:not(:last-child), .cta:not(:last-child) {
    margin-right: 1rem; }
  .nav-link:link, .cta:link {
    color: inherit; }
  .nav-link:visited, .cta:visited {
    color: white; }

.nav-items {
  display: inline-block;
  opacity: 75%; }

.illustration {
  width: 23rem; }

.heading {
  font-size: 2rem;
  font-weight: 700; }

.description {
  font-weight: 400;
  font-size: 1.15rem;
  margin-bottom: 3rem; }

.cta {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  padding: 1rem 8rem;
  border-radius: 3rem;
  background: linear-gradient(to right, #65e2d9, #339ecc);
  border: none; }

.service__img {
  width: 6rem; }

.service__heading {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: white;
  margin: 2.5rem 0 1rem 0;
  opacity: 85%; }

.service__description {
  margin-bottom: 2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.15rem;
  color: white;
  opacity: 85%;
  line-height: 1.5; }

.promise__card {
  margin-bottom: 3rem; }

.promise__illustration {
  width: 22rem;
  margin-bottom: 3rem;
  align-self: center; }

.promise__heading {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  opacity: 90%;
  margin-left: 2rem; }

.promise__description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.15rem;
  color: white;
  opacity: 85%;
  line-height: 1.5;
  padding: 0 2rem;
  margin: 2rem 0 1rem 0; }

.promise__cta {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  text-decoration: none;
  margin-left: 2rem;
  padding-bottom: .4rem;
  border-bottom: 0.1rem solid #65e2d9;
  display: inline-flex;
  justify-content: left;
  align-items: center; }
  .promise__cta > svg {
    margin-left: .5rem; }
  .promise__cta:link {
    color: #65e2d9;
    opacity: 80%; }
  .promise__cta:visited {
    color: #65e2d9; }

.testimony-card {
  padding: 1rem 2.5rem;
  background-color: #202a3c; }
  .testimony-card:not(:last-child) {
    margin-bottom: 2rem; }

.testimony {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 1rem;
  opacity: 80%;
  margin: 2rem 0;
  line-height: 1.5; }

.profil {
  display: flex; }
  .profil__picture {
    width: 2.8rem;
    border-radius: 50%; }
  .profil__info {
    margin-left: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start; }
  .profil__name {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    opacity: 80%; }
  .profil__status {
    font-family: "Open Sans", sans-serif;
    color: white;
    opacity: 75%;
    font-size: 0.8rem; }

.newsletters__heading {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  opacity: 85%; }

.newsletters__description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.15rem;
  color: white;
  opacity: 85%;
  line-height: 1.5;
  margin: 2rem 0; }

.newsletters__form {
  margin-top: 5rem; }

.newsletters__input {
  padding: 1rem 4rem 1rem 2rem;
  margin-bottom: 2.5rem;
  border-radius: 2rem;
  border: none;
  outline: none; }
  .newsletters__input::placeholder {
    font-size: 1.1rem;
    opacity: 50%; }

.newsletters__button {
  padding: 1rem 4rem;
  outline: none;
  border: none;
  border-radius: 2rem;
  background: linear-gradient(to right, #65e2d9, #339ecc);
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.4rem; }

.footer__logo {
  margin-top: 20rem; }
