//////////////////////////////////////////////VARIABLES/////////////////////////////////////////////////

//Primary colors

$intro-email-bg: hsl(217, 28%, 15%);
$main-bg: hsl(218, 28%, 13%);
$footer-bg: hsl(216, 53%, 9%);
$testimonials-bg: hsl(219, 30%, 18%);

//Accent colors

$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$light-red: hsl(0, 100%, 63%);

//Neutral color

$white: hsl(0, 0%, 100%);

//Headings, cta, nav items font

$headings-cta-nav: 'Raleway', sans-serif;

//body font

$body-font: 'Open Sans', sans-serif;

//Font weight

$font-bold: 700;
$font-normal: 400;

//Font size

$normal-size: 1.4rem;
$link-size: 1rem;
$header-description: 1.15rem;
$heading-primary-size: 2rem;
$service-font-size: 1.6rem;
$promise-font-size: 1.5rem;
