.icon{
    width: 1rem;
    height: 1rem;
    fill: blue;
}

//NAV CONTAINER

.nav-container{
    color: $white;
    font-family: $body-font;
    font-size: $link-size;
}

.nav-link, .cta{
    text-decoration: none;

    &:not(:last-child){
        margin-right: 1rem;
    }

    &:link{
        color: inherit;
    }

    &:visited{
        color: $white;
    }

}

.nav-items{
    display: inline-block;
    opacity: 75%;
}

// ALL ABOUT HEADER

.illustration{
    width: 23rem;
}

.heading{
    font-size: $heading-primary-size;
    font-weight: $font-bold;
}

.description{
    font-weight: $font-normal;
    font-size: $header-description;
    margin-bottom: 3rem;
}

.cta{
    font-family: $headings-cta-nav;
    font-weight: $font-bold;
    font-size: $normal-size;
    padding: 1rem 8rem;
    border-radius: 3rem;
    background: linear-gradient(to right, $cyan, $blue);
    border: none;
}

//SERVICE GRID

.service{

    &__img{
        width: 6rem;
    }

    &__heading{
        font-family: $headings-cta-nav;
        font-size: $service-font-size;
        font-weight: $font-bold;
        color: $white;
        margin: 2.5rem 0 1rem 0;
        opacity: 85%;
    }

    &__description{
        margin-bottom: 2rem;
        font-family: $body-font;
        font-weight: $font-normal;
        font-size: $header-description;
        color: $white;
        opacity: 85%;
        line-height: 1.5;
    }
}

//PROMISE SECTION

.promise{

    &__card{
        margin-bottom: 3rem;
    }

    &__illustration{
        width: 22rem;
        margin-bottom: 3rem;
        align-self: center;
    }

    &__heading{
        font-family: $headings-cta-nav;
        font-size: $promise-font-size;
        font-weight: $font-bold;
        color: $white;
        opacity: 90%;
        margin-left: 2rem;
    }

    &__description{
        font-family: $body-font;
        font-weight: $font-normal;
        font-size: $header-description;
        color: $white;
        opacity: 85%;
        line-height: 1.5;
        padding: 0 2rem;
        margin: 2rem 0 1rem 0;
    }

    &__cta{
        font-family: $body-font;
        font-size: $link-size-m;
        text-decoration: none;
        margin-left: 2rem;
        padding-bottom: .4rem;
        border-bottom:  .1rem solid $cyan;
        display: inline-flex;
        justify-content: left;
        align-items: center;

        & > svg{
            margin-left: .5rem;
        }

        &:link{
            color: $cyan;
            opacity: 80%;
        }

        &:visited{
            color: $cyan;
        }

    }

}

//TESTIMONIES SECTION

.testimony-card{
    padding: 1rem 2.5rem;
    background-color: $testimonials-bg;

    &:not(:last-child){
        margin-bottom: 2rem;
    }
}

.testimony{
    font-family: $body-font;
    color: $white;
    font-size: $link-size;
    opacity: 80%;
    margin: 2rem 0;
    line-height: 1.5;
}

.profil{

    display: flex;

    &__picture{
        width: 2.8rem;
        border-radius: 50%;
    }

    &__info{
        margin-left: .8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }

    &__name{
        color: $white;
        font-family: $body-font;
        font-weight: $font-bold;
        opacity: 80%;
    }

    &__status{
        font-family: $body-font;
        color: $white;
        opacity: 75%;
        font-size: $xs-size;
    }
}

//NEWSLETTER SECTION

.newsletters{

    &__heading{
        font-family: $headings-cta-nav;
        font-size: $promise-font-size;
        font-weight: $font-bold;
        color: $white;
        opacity: 85%;
    }

    &__description{
        font-family: $body-font;
        font-weight: $font-normal;
        font-size: $header-description;
        color: $white;
        opacity: 85%;
        line-height: 1.5;
        margin: 2rem 0;
    }

    &__form{
        margin-top: 5rem;
    }

    &__input{
        padding: 1rem 4rem 1rem 2rem;
        margin-bottom: 2.5rem;
        border-radius: 2rem;
        border: none;
        outline: none;

        &::placeholder{
            font-size: $link-size-m;
            opacity: 50%;
        }
    }

    &__button{
        padding: 1rem 4rem;
        outline: none;
        border: none;
        border-radius: 2rem;
        background: linear-gradient(to right, $cyan, $blue);
        color: $white;
        font-family: $headings-cta-nav;
        font-weight: $font-bold;
        font-size: $normal-size;
    }
}

//FOOTER 

.footer{

    &__logo{
        margin-top: 20rem;
    }
}