//HEADER LAYOUT

.header {
    background: #1c2431 url(/images/bg-curvy-mobile.svg) -51vw 30vh no-repeat;
    padding: 2rem;
    position: relative;
    background-size: 220% 60%;


    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
    }

}

.logo{
    width: 7rem;
}

.header__bottom{
    text-align: center;
    color: $white;
    line-height: 1.5;

    &-heading{
        margin: 1rem 0;
        font-family: $headings-cta-nav;
        font-size: $heading-primary-size;
    }

    &-description{
        font-family: $body-font;
        opacity: 90%;
    }
}

//MAIN CONTENT

.content{
    background-color: $main-bg;
    padding-top: 20rem;
    margin-top: -14rem;
}

//SERVICE GRID LAYOUT

.services-grid{
    padding: 0 3rem;
    text-align: center;
    margin-bottom: 15rem;
}

//PROMISE LAYOUT

.promise{
    text-align: center;
}