//HEADER LAYOUT

.header{
    background-color: $intro-email-bg;
    padding: 2rem;

    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
    }

}

.logo{
    width: 7rem;
}

.header__bottom{
    text-align: center;
    color: $white;
    line-height: 1.5;

    &-heading{
        margin: 1rem 0;
        font-family: $headings-cta-nav;
        font-size: $heading-primary-size;
        position: relative;
    }

    &-description{
        font-family: $body-font;
        opacity: 90%;
    }
}

//MAIN CONTENT

.content{
    background-color: $main-bg;
    padding-top: 20rem;
    margin-top: -14rem;
}